@font-face {
  font-family: 'Roboto-Regular';
  src:  url('/fonts/Roboto-Regular.ttf') format('ttf'),
}
@font-face {
  font-family: 'Roboto-Medium';
  src:  url('/fonts/Roboto-Medium.ttf') format('ttf'),
}
@font-face {
  font-family: 'Roboto-Light';
  src:  url('/fonts/Roboto-Light.ttf') format('ttf'),
}
@font-face {
  font-family: 'OpenSans';
  src:  url('/fonts/OpenSans-Regular.ttf') format('ttf'),
}
.cw-container
{
    display: block;
    width: 100%;
    min-height: 290px;
    margin-bottom: 15px;
    text-align: center;
    background: #fff;
}
.cw-widget
{
    border-radius: 5px;
    background: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .36);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .24);
}
.cw-section:first-child
{
    border-radius: 5px 5px 0 0;
}
.cw-info-value
{
    font-size: 32px;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 16px;
}
.cw-info-title
{
    font-size: 22px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 21px;
    text-align: left;
}
.cw-info-subtitle
{
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 10px;
}
.cw-section-info
{
    overflow: hidden;
    padding: 16px 8px 22px 8px;
    color: #8a786a;
}
.cw-info-time
{
    font-size: 12px;
}
.cw-info-block
{
    float: left;
    width: 47%;
    margin-bottom: 16px;
    padding-top: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: #f5f0ec;
}
.cw-info-block.last
{
    float: right;
}
.cw-info-block dt,
.cw-info-block dd
{
    margin: 0;
    padding: 0;
}
.cw-info-block dt
{
    font-size: 18px;
    font-weight: bold;
}
.cw-info-block dd
{
    font-size: 16px;
    margin-top: 2px;
}
.cw-info-block-perf
{
    float: left;
    width: 100%;
    padding: 2px;
    text-align: center;
}
.cw-info-perf
{
    float: left;
    width: 47%;
    text-align: center;
}
.cw-info-perf h4
{
    margin-bottom: 8px;
}
.cw-info-perf ul
{
    margin: 0;
    padding: 0;
}
.cw-info-perf li
{
    position: relative;
    display: block;
    float: left;
    width: 11%;
    height: 60px;
    margin: 0;
    margin-right: 1%;
    background-color: #f5f0ec;
}
.cw-info-perf li span
{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 60px;
}
.orange
{
    background-color: #e75e3a;
}
.green
{
    background-color: #4eaf7c;
}
.cw-yearly-change
{
    float: right;
    width: 47%;
    text-align: center;
}
.cw-yearly-change h4
{
    margin-bottom: 8px;
}
.cw-yearly-change span
{
    font-size: 18px;
    font-weight: bold;
    line-height: 60px;
    display: block;
    height: 60px;
    color: white;
    border-radius: 3px;
    background-color: #4eaf7c;
}
.cw-yearly-change span em
{
    color: rgba(255, 255, 255, .7);
}
/* CSS GRID CODE */
.grid-container
{
    display: grid;
    height: 80px;
    grid-gap: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 'gd-title gd-title gd-title gd-title gd-measure' 'gd-trend gd-target-icon gd-target-kpi gd-var-icon gd-var-kpi';
}
.gd-title
{
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 0;
    color: rgba(0,0,0,.54);
    border: 1px solid rgba(0,0,0,.54);
    grid-area: gd-title;
    display: flex;
    align-items: center;
    justify-self: space-around;
    padding-left: 8px;
}
.gd-measure
{
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    text-align: right;
    color: rgba(0,0,0,.54);
    border: 1px solid rgba(0,0,0,.54);
    grid-area: gd-measure;
    display: flex;
    align-items: center;
    justify-self: right;
    padding-right: 8px;
}
.gd-trend
{
    border: 1px solid rgba(0,0,0,.54);
    justify-self: center;
    grid-area: gd-trend;
    display: flex;
    align-content: middle;
    align-items: center;
    justify-self: center;
}
.gd-target-icon
{
    border: 1px solid rgba(0,0,0,.54);
    justify-self: center;
    color: rgba(0,0,0,.24);
    grid-area: gd-target-icon;
    display: flex;
    align-content: middle;
    align-items: center;
    justify-self: center;
}
.gd-target-kpi
{
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: right;
    color: rgba(0,0,0,.32);
    border: 1px solid rgba(0,0,0,.54);
    grid-area: gd-target-kpi;
    display: flex;
    align-content: middle;
    align-items: center;
    justify-self: right;
    padding-right: 8px;
}
.gd-var-icon
{
    border: 1px solid rgba(0,0,0,.54);
    color: rgba(0,0,0,.24);
    grid-area: gd-var-icon;
    display: flex;
    align-content: middle;
    align-items: center;
    justify-self: center;
}
.gd-var-kpi
{
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
      font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: right;
    color: rgba(0,0,0,.32);
    border: 1px solid rgba(0,0,0,.54);
    grid-area: gd-var-kpi;
    display: flex;
    align-content: middle;
    align-items: center;
    justify-self: right;
    padding-right: 8px;
}
/* KPI CONTAINER */
.kpi-container
{
    display: grid;
    border-radius: 2px;
    background: #fafafa;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);
    grid-template-rows: min-content;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 'kpi-comp-header kpi-comp-header kpi-comp-header kpi-comp-header' 'kpi-comp-container kpi-comp-container kpi-comp-container kpi-comp-container';
    grid-gap: 0;
}
.kpi-comp-icon
{
    grid-area: 1 / 1 / 1 / 1;
    display: flex;
    align-content: middle;
    align-items: center;
    justify-self: center;
}
.kpi-comp-circle
{
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background: rgba(255,255,255,.75);
    justify-self: center;
}
.kpi-comp-title
{
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 32px;
    font-weight: 600;
    display: flex;
    align-items: center;
    text-align: left;
    vertical-align: middle;
    letter-spacing: 0;
    color: #fff;
    grid-area: 1 / 2 / 1 / 4;
}
.kpi-comp-chevron
{
    display: flex;
    font-weight: 400;
    color: rgba(255,255,255,.70);
    grid-area: 1 / 4 / 1 / 4;
    display: flex;
    align-content: middle;
    align-items: center;
    justify-self: right;
    padding-right: 16px;
}
.kpi-comp-container
{
    overflow-y: -webkit-paged-y;
    grid-area: kpi-comp-container;
}
.kpi-comp-spacer
{
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #43abe6;
    background: rgba(67,171,230,.10);
    box-shadow: inset 0 0 2px 0 rgba(0,0,0,.24);
    display: flex;
    align-items: center;
    text-align: left;
    vertical-align: middle;
    padding-left: 8px;
}
.kpi-comp-header
{
    height: 80px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background: #89b8e8;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);
    grid-area: kpi-comp-header;
}
